<%- include('../includes/head.ejs')%>

</head>

<body class="login-body">
   <!-- <%- include('../includes/navigation.ejs') %> -->
    
    <div class="login-container">
        
        <div class="login-legend">
            <!-- C-ONSKID -->
        </div>

        <form class="login-form" method="POST" action="/login">
            
            <% if(successMessage) {%>
            <div class="alert alert-success">
                <%= successMessage %>
            </div>
            <% }%> 

            <% if(errorMessage) {%>
            <div class="alert alert-danger">
                <%=errorMessage %>
            </div>
            <% }%>
            
            <div class="login-form-field">
                <input  class="form-control-custom" type="text" placeholder="Email address" name="email" , value="<%= oldInput.email %>">
            </div>
            
            <div class="login-form-field">
                <input class="form-control-custom" type="password" placeholder="Password" name="password">
            </div>


            <div class="login-button"> 
                <input type='hidden' name="_csrf" value="<%= csrfToken %>">
                <button class="btn">Login</button>
                <a class="login-forgot-password" href="/reset-password">Forgot Password ?</a>      
            </div>
                
            <div class="login-signup-redirect">
                <text> Don't have an account? </text><a href="/signup">Signup</a>
            </div>
        </form>
    </div>

    <%- include('../includes/end.ejs') %>