<%- include('../includes/head.ejs')%>

</head>

<body class="login-body">
    <!-- <%- include('../includes/navigation.ejs') %> -->
    <div class="login-container">

        <div class="login-legend">
            
        </div>

        <form class="login-form" method="POST" action="/new-password">
            <% if(errorMessage) {%>
            <div class="alert alert-danger">
                <%=errorMessage %>
            </div>
            <% }%>
            <div class="login-form-field">
                <input class="form-control" type="password" placeholder="Enter new Password" name="newPassword">
            </div>
            <div class="login-button">
                <input type='hidden' name="userId" value="<%= userId %>">
                <input type='hidden' name="passwordToken" value="<%= passwordToken %>">
                <input type='hidden' name="_csrf" value="<%= csrfToken %>">
                <button class="btn">Update Password</button>
            </div>
        </form>
    </div>

    <%- include('../includes/end.ejs') %>