<%- include('../includes/head.ejs')%>


</head>

<body class="background">
    <div class="signup-container">
        
        <div class="signup-legend">
        </div>

        

        <form class="signup-form" method="POST" action action="/signup">

            <% if(errorMessage) {%>
            <div class="alert alert-danger">
                <%=errorMessage %>
            </div>
            <% }%>

            <div class="row">

                <div class="col-sm-6">
                        <div class="row signup-form-field">
                            <input class="form-control-custom" type="text" placeholder="First name" name="first_name" value='<%= oldInput.first_name %>' >
                        </div>
                        <div class="row signup-form-field">
                            <input class="form-control-custom" type="text" placeholder="Email address" name="email" value='<%= oldInput.email %>' >
                        </div>
                        <div class="row signup-form-field">
                            <input class="form-control-custom" type="password" placeholder="Password" name="password">
                        </div>
                        <div class="row signup-form-field">
                            <select class='user-type right' name="type">
                                <option class="option-text" value="signup">Signup as</option>
                                <option class="option-text" value="student">Student</option>
                                <option class="option-text" value="employer">Employer</option>
                            </select>
                        </div> 
                </div>

                <div class="col-sm-6">
                        <div class="row signup-form-field">
                            <input class="form-control-custom" type="text" placeholder="Last name" name="last_name" value='<%= oldInput.last_name %>' >
                        </div>
                        <div class="row signup-form-field">
                            <input class="form-control-custom" type="text" placeholder="Phone" name="phone">
                        </div>

                        <div class="row signup-form-field">
                            <input class="form-control-custom" type="password" placeholder="Confirm Password" name="confirm_password">
                        </div>
                </div>

            </div>
            <input type='hidden' name="_csrf" value="<%= csrfToken %>">

            <div class="signup-button">
                <button class="btn">Signup</button>
            </div>

            <div class="signup-login-redirect">
                <text> Already have an account? </text><a href="/login">Login</a>
            </div>
        </form>
    </div>
    

    <%- include('../includes/end.ejs') %>